---
import EducationCard from "./EducationCard.astro"
import { myEducation } from "../content/db/education"
import type { EducationInterface } from "../interfaces/interface"
---

<div class="max-w-6xl w-full mx-auto">
  <div
    class="bg-white bg-opacity-10 backdrop-blur-lg rounded-3xl shadow-2xl overflow-hidden border border-white border-opacity-20 p-8 lg:p-12"
  >
    <!-- Título de la sección -->
    <h2 class="text-4xl lg:text-5xl font-bold text-black mb-4 text-center">
      Formación Académica
    </h2>
    <p class="text-black text-center mb-12 text-lg">
      Educación y certificaciones profesionales
    </p>
      <!-- Items de formación -->
      <div class="space-y-8">

         {
        myEducation.map((item: EducationInterface) => (
          <EducationCard
            title={item.title}
            description={item.description}
            color={item.color}
            tagTitle={item.tagTitle}
            year={item.year}
          />
        ))
      }
      </div>
  </div>
</div>
