---
import Project from "./Project.astro";
import { myProjects } from "../content/db/projects";
import type { ProjectInterface } from "../interfaces/interface";
---

<div class="max-w-6xl w-full mx-auto">
  <div
    class="bg-white bg-opacity-10 backdrop-blur-lg rounded-3xl shadow-2xl overflow-hidden border border-white border-opacity-20 p-8 lg:p-12"
  >
    <!-- Título de la sección -->
    <h2 class="text-4xl lg:text-5xl font-bold text-black mb-12 text-center">
      Mis Proyectos
    </h2>

    <!-- Grid de proyectos -->
    <div class="space-y-8">
      {
        myProjects.map((item: ProjectInterface) => (
          <Project
            title={item.title}
            devType={item.devType}
            description={item.description}
            technologiesUsed={item.technologiesUsed}
            detailsUrl={item.detailsUrl}
          />
        ))
      }

    </div>
  </div>
</div>
